@charset "UTF-8";

@font-face {
  font-family: "color-room";
  src:url("../static/fonts/color-room.eot");
  src:url("../static/fonts/color-room.eot?#iefix") format("embedded-opentype"),
    url("../static/fonts/color-room.woff") format("woff"),
    url("../static/fonts/color-room.ttf") format("truetype"),
    url("../static/fonts/color-room.svg#color-room") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "color-room" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "color-room" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\63";
}
.icon-google-plus:before {
  content: "\64";
}
.icon-youtube:before {
  content: "\65";
}
.icon-twitter:before {
  content: "\66";
}
.icon-vimeo:before {
  content: "\69";
}
.icon-instagram:before {
  content: "\68";
}
.icon-plus:before {
  content: "\6a";
}
.icon-minus:before {
  content: "\6b";
}
.icon-map-marker:before {
  content: "\6d";
}
.icon-phone:before {
  content: "\6e";
}
.icon-envelope:before {
  content: "\6f";
}
.icon-envelope-o:before {
  content: "\70";
}
.icon-camera:before {
  content: "\6c";
}
.icon-angle-down:before {
  content: "\71";
}
.icon-theknot:before {
  content: "\61";
}
.icon-weddingwire:before {
  content: "\62";
}
.icon-yjsw:before {
  content: "\67";
}
.icon-google:before {
  content: "\72";
}
.icon-smp-logo:before {
  content: "\73";
}
.icon-video-camera:before {
  content: "\74";
}
.icon-crf:before {
  content: "\75";
}
.icon-heart:before {
  content: "\76";
}
.icon-bars:before {
  content: "\77";
}
.icon-close:before {
  content: "\78";
}
